/* smaller than 767px row */
@media only screen and (max-width: 767px) {
  .card-box {
    width: 100%;
  }

  .box-dark {
    border-radius: 0;
    height: 100%;
  }

  .box-light {
    border-radius: 0 0 10px 10px;
    height: 100%;
  }
}
